<%= render "shared/navbar" %>
<div class="navbar-back-container"></div>
<div class="home-mobile-container">
  <div class="first-mobile-container">
    <div class="main-mobile-text-1">
      <h1>Moving around <span>cities</span><br>has never been so perfect.</h1>
      <div class="form">
        <%= render "subscribers/form"%>
      </div>
    </div>
    <%= image_tag('yoda_mobile_1.png', class: "yoda-image") %>
  </div>
  <div class="second-mobile-container">
    <div class="main-mobile-text-2">
      <h1>Take a <span>ride</span></h1>
      <p>Find a Yoda Nearby<br>Ride Anywhere<br>1€ to Start (25cent/minute)</p>
    </div>
    <%= image_tag('iphone_yoda_app.png') %>
  </div>
  <div class="third-mobile-container">
    <div class="main-mobile-text-3">
      <h1>More than an<br><span>electric motorbike</span></h1>
      <p>Handy as a bike, practical as a motorbike,<br>safer than a scooter.</p>
    </div>
    <%= image_tag('yodazer_3.svg') %>
  </div>
  <div class="fourth-mobile-container">
    <div class="main-mobile-text-4">
      <h1>Accessible to <span>anyone</span></h1>
      <div class="license-text">
        <p>A maximum speed based on your experience.</p>
        <div class="no-license license">
          <%= image_tag('license_no.svg', class: "license-no") %>
          <p>Up to 25 km/h.</p>
        </div>
        <div class="yes-license license">
          <%= image_tag('license_ok.svg', class: "license-no") %>
          <p>Up to 45 km/h.</p>
        </div>
      </div>
      <%= image_tag('dashboard_iphone.png') %>
    </div>
  </div>
  <div class="contact-mobile-container">
    <div class="contact-mobile-content">
      <h3>Contact Us</h3>
      <p>Say Hello, Our Team is Excited to Hear From You!</p>
      <%= link_to 'Contact', root_path, class: 'contact-button' %>
    </div>
  </div>


</div>

