<%= render "shared/navbar" %>
<div class="home-mobile-container">
  <div class="first-mobile-container">
    <div class="main-mobile-text-1">
      <h1>Moving around <span>cities</span><br>has never been so perfect.</h1>
      <p><span>Yoda</span>’s mission is to make cities more livable by reducing car <br class="rwd-break">usage, traffic, and carbon emissions.</p>
      <div class="form">
        <%= render "subscribers/form"%>
      </div>
    </div>
    <%= image_tag('yoda_mobile_1.png', class: "yoda-image") %>
  </div>
  <div class="second-mobile-container">
    <div class="main-mobile-text-2">
      <h1>Take a <span>ride</span></h1>
      <p>Find a Yoda Nearby<br>Ride Anywhere<br>1€ to Start (25cent/minute)</p>
    </div>
    <%= image_tag('iphone_yoda_app.png') %>
  </div>
  <div class="third-mobile-container">
    <div class="main-mobile-text-3">
      <h1>More than an<br><span>electric motorbike</span></h1>
      <p>Handy as a bike practical as a motorbike,<br>safer than a scooter.</p>
    </div>
    <%= image_tag('yodazer_3.svg') %>
  </div>



</div>

