<div class="home-container">
  <div class="first-container">
    <div class="text-part">
      <div class="empty-left-part"></div>
      <div class="main-text-1">
        <h1>Moving around <span>cities</span><br>has never been so perfect.</h1>
        <h2><span>Yoda</span>’s mission is to make cities more livable by reducing car<br>usage, traffic, and carbon emissions.</h2>
        <div class="action-button">
          <%= link_to 'Get Early Access', root_path %>
        </div>
      </div>
    </div>
    <div class="images-container">
      <%= image_tag('yoda_bike_city.png', class: "yoda-image") %>
    </div>
  </div>
  <div class="second-container">
    <div class="text-content">
      <div class="main-text-2">
        <h1>Take a <span>ride</span></h1>
        <p>Find a Yoda Nearby<br>Ride Anywhere<br>1€ to Start (25cent/minute)</p>
        <%= link_to 'Get free unlock', root_path %>
      </div>
    </div>
    <div class="iphone-container">
      <%= image_tag('Iphone_yoda_app.png', class: "iphone") %>
    </div>
  </div>
  <div class="third-container">
    <%= image_tag('yoda_bike.png', class: "yoda-bike-image") %>
    <div class="text-container">
      <div class="main-text-3">
        <h1>More than an<br><span>electric motorbike</span>.</h1>
        <p>Handy as a bike practical as a motorbike,<br>safer than a scooter.</p>
        <%= link_to 'Get free unlock', root_path %>
      </div>
    </div>
  </div>
</div>
