<%= render "shared/navbarsubscriber" %>
<div class="subscriber-container">
  <div class="subscriber-content">
    <div class="notice">
      <% if notice %>
        <%= notice %>
      <% end %>
    </div>
    <% if cookies[:saved_subscriber] %>
      <div class="cookies">
        <p>Thanks for register yourself to our Newletter.<br>Incredible things are comming!</p>
      </div>
    <% else %>
      <h1>We are coming soon! Join us and get free <span>unlock</span></h1>
      <%= form_for @subscriber, method: :post do |f| %>
        <%= f.text_field :name, placeholder: 'Name' %>
        <%= f.email_field :email, placeholder: 'Email' %>
        <%= f.submit 'Subscribe' %>
      <% end %>
    <% end %>
  </div>
</div>
