<%= render "shared/navbarsubscriber" %>
<div class="subscriber-container">
  <div class="subscriber-content">
    <div class="notice">
      <% if notice %>
        <%= notice %>
      <% end %>
    </div>

    <% if cookies[:saved_subscriber] %>
      <div class="cookies">
        <p>Thanks for register yourself to our Newletter.

        The project is still in development but arrive soon in your neighborhood.
        You'll be notice as soon as possible when a Yoda is ready to use.
        </p>
        <%= link_to 'Back to Home', root_path %>
      </div>
    <% else %>
      <h1>Get in touch and get free <span>unlock</span></h1>
      <%= form_for @subscriber, method: :post do |f| %>
        <%= f.text_field :name, placeholder: 'Name' %>
        <%= f.email_field :email, placeholder: 'Email' %>
        <%= f.submit 'Subscribe' %>
      <% end %>
    <% end %>
  </div>
</div>
