<%= render "shared/navbarsubscriber" %>
<div class="subscriber-container">
  <div class="subscriber-content">
    <div class="notice">
      <% if notice %>
        <%= notice %>
      <% end %>
    </div>
    <div class="subscribing-form para-index">
      <p>We are coming soon! Subscribe to get early access when <span><b>Yoda</b></span> comes to your city</p>
      <%= form_for @subscriber, method: :post do |f| %>
        <%= f.text_field :name, placeholder: 'Name' %>
        <%= f.email_field :email, placeholder: 'Email' %>
        <%= f.submit 'Subscribe' %>
      <% end %>
    </div>
  </div>
</div>
