<%= render "shared/navbarsubscriber" %>
<div class="subscriber-container">
  <div class="subscriber-content">
    <% if notice %>
      <%= notice %>
    <% end %>
    <% if cookies[:saved_subcriber] %>
      Thanks for register yourself to our Newletter.

      The project is still in development but arrive soon in your neighborhood.
      You'll be notice as soon as possible when a Yoda is ready to use.

      <%= link_to 'Back to Home', root_path %>
    <% else %>
      <h1>Get in touch and get free <span>unlock</span></h1>
      <%= form_for @subscriber, method: :post, remote: true do |f| %>
        <%= f.text_field :name, placeholder: 'Name' %>
        <%= f.email_field :email, placeholder: 'Email' %>
        <%= f.submit 'Subscribe' %>
      <% end %>
    <% end %>
  </div>
</div>
